# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.
:80 {
    @portainer host portainer.local
    handle @portainer {
        reverse_proxy https://127.0.0.1:9443 {
            transport http {
                tls_insecure_skip_verify
            }
            header_up Origin ""
            header_up Referer "https://127.0.0.1:9443"
        }
    }

    @netdata host netdata.local
    handle @netdata {
        reverse_proxy 127.0.0.1:19999
    }

    @uptimekuma host uptimekuma.local
    handle @uptimekuma {
        reverse_proxy 127.0.0.1:3002
    }
}
# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
